<!doctype html>
<html>

<head>
  <title>湯群漫畫推薦網
  </title>

  <!-- 導入 favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <!-- <link rel="manifest" href="/site.webmanifest"> -->

  <!-- 導入 Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- 導入 Vue -->
  <script type="importmap">
    {
      "imports": {
        "vue": "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js",
        "vue-demi": "https://esm.sh/vue-demi@0.14/lib/v3/index.mjs?external=vue",
        "@vueuse/shared": "https://esm.sh/@vueuse/shared@10/index.mjs?external=vue-demi",
        "@vueuse/core": "https://esm.sh/@vueuse/core@10/index.mjs?external=@vueuse/shared,vue-demi"
        } 
      }</script>



  <style media="screen">
    [v-cloak] {
      display: none;
    }

    .grayscale {
      filter: grayscale(100%);
    }

    .cursor_pointer {
      cursor: pointer;
    }


    .list-move,
    /* 对移动中的元素应用的过渡 */
    .list-enter-active,
    .list-leave-active {
      transition: all 0.5s ease;
    }

    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateX(30px);
    }

    /* 对移动中的元素应用的过渡 */
    .card-move,
    .card-leave-active,
    .card-enter-active {
      transition: all .5s ease;

    }

    .card-leave-to,
    .card-enter-from {
      opacity: 0;
    }

    /* 确保将离开的元素从布局流中删除
  以便能够正确地计算移动的动画。 */
    /* .card-leave-active {
      position: absolute;
    } */
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <!-- 最上邊的導航列 -->
    <nav class="navbar navbar-expand bg-body-tertiary sticky-top" data-bs-theme="dark">
      <div class="container-fluid">
        <!-- 最左邊的符號 -->
        <a v-show="!isLoading" class="navbar-brand cursor_pointer"
          @click="raloadComicList(true); raloadCommentList(true); raloadTagList(true);">湯</a>
        <a v-show="isLoading" class="spinner-grow text-light"></a>

        <!-- 按鈕們 -->
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link cursor_pointer" @click="tabSelected = 'comic'"
              :class="{'active': tabSelected === 'comic'}">
              <i class="bi-book d-md-none"></i>
              <span class="d-none d-md-block"><i class="bi-book"></i> 漫畫一覽</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link cursor_pointer" @click="tabSelected = 'comment'" :class="{'active': tabSelected === 'comment'}">
              <i class="bi-chat-left-dots d-md-none"></i>
              <span class="d-none d-md-block"><i class="bi-chat-left-dots"></i> 評論一覽</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link cursor_pointer" @click="tabSelected = 'addComic'"
              :class="{'active': tabSelected === 'addComic'}">
              <i class="bi-file-earmark-plus d-md-none"></i>
              <span class="d-none d-md-block"><i class="bi-file-earmark-plus"></i> 新增漫畫</span></a>
          </li>
        </ul>

        <!-- 測試區域 -->
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          {{ this.selectedComicIndex +" : "+ this.comicMainPageObj.selectedID}}
        </button> -->

        <form class="d-flex" role="search">
          <div class="input-group">
            <input class="form-control" :class="{'bg-success':searchText.length > 0 && searchText===selectedName}"
              type="search" placeholder="搜尋關鍵字" v-model="searchText" aria-label="Search">

            <select class="form-select" id="inputGroupSelect01" v-model="searchBy" v-show="tabSelected == 'comic'">
              <option value="tittle">漫畫名稱</option>
              <option value="user">推薦人</option>
              <option value="tag">標籤</option>
            </select>
            <button class="btn btn-outline-success" type="submit" @click.prevent="searchBtnClicked">
              <i class="bi-search d-md-none"></i>
              <span class="d-none d-md-block">搜尋</span></a>
            </button>


          </div>
        </form>
      </div>
    </nav>


    <!-- 測試用 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">測試區域</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{addComicObj.searchComicList}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>


    <!-- 展示漫畫和留言的模態視窗 -->
    <div class="modal fade" id="mainComicModal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header d-flex">
            <h1 class="modal-title fs-5 flex-fill">選擇的漫畫</h1>
            <button class="btn btn-link btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#updateInfo"
              aria-expanded="false" aria-controls="collapseExample">
              更新漫畫資訊
            </button>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body mb-0" v-if="comicMainPageList.length >0">
            <div class="clearfix">
              <div class="col-3   position-relative float-start m-1 ">
                <img class="img-fluid rounded "
                  :src="comicMainPageList[selectedComicIndex][6].replace('cpic/b/','cpic/h/')"
                  @error="$event.target.src='https://placehold.co/132x176?text=No+Cover'"
                  :class="{ 'grayscale' : comicMainPageList[selectedComicIndex][5] <0 }">
                <div class="position-absolute top-0 start-0 p-0 d-flex align-items-start">
                  <span class="badge bg-success my-0  me-1" v-if="comicMainPageList[selectedComicIndex][10]">完結</span>
                </div>
              </div>
              <h5>{{comicMainPageList[selectedComicIndex][1]}} <i class="bi bi-share cursor_pointer"
                  @click="copyURL(getUrl() + '?comicName='+ comicMainPageList[selectedComicIndex][1])"></i></h5>

              <p>作者：{{comicMainPageList[selectedComicIndex][2]}} <a :href="comicMainPageList[selectedComicIndex][7]"
                  target="_blank">漫畫鏈結</a>

              <p class="mb-1">推薦人：{{comicMainPageList[selectedComicIndex][3]}}</p>

              <template v-if="comicMainPageList[selectedComicIndex][5] >0 ">
                <span class='text-warning' v-for="n in Math.round(comicMainPageList[selectedComicIndex][5])">★</span>
                <span
                  v-for="n in 3-Math.round(comicMainPageList[selectedComicIndex][5])">☆</span><span>({{comicMainPageList[selectedComicIndex][5]}})</span>
              </template>
              <span v-else class="text-danger">💀💀💀</span>
              <p class=" mb-1">{{comicMainPageList[selectedComicIndex][9]}} 則評論。</p>
              <!-- <transition-group name="list" tag="p"> -->
              <p>
                <span class="badge text-bg-secondary me-1" :key="tag"
                  v-for="tag in comicMainPageList[selectedComicIndex][4].split(',')"
                  @click.stop="clickTag(tag)">{{tag}}</span>
              </p>
              <!-- </transition-group> -->
            </div>
          </div>

          <div class="collapse" id="updateInfo">
            <div class="modal-body">
              <p><button class="btn btn-primary btn-sm" type="button"
                  :disabled="isLoading || updateInfoObj.tempComicInfo.status != undefined" @click="getUpdateInfo">
                  嘗試取得新的漫畫資訊
                </button> <button class="btn btn-primary btn-sm"
                  :disabled="isLoading || updateInfoObj.tempComicInfo.status == undefined" type="button"
                  @click="updateInfo">
                  上傳資訊到資料庫
                </button> <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse"
                  data-bs-target="#updateInfo"
                  @click="updateInfoObj.tempComicInfo = {status: undefined,lastUpdateDate: undefined,picUrl: undefined}; updateInfoObj.searchError = undefined;">
                  關閉
                </button>
                <span v-show="isLoading" class="spinner-border spinner-border-sm" aria-hidden="true"> </span>
              </p>
              <p v-show="updateInfoObj.searchError">{{updateInfoObj.searchError}}</p>


              <div class="clearfix" v-show="updateInfoObj.tempComicInfo.status != undefined">
                <div class="col-3 position-relative float-start m-1 ">
                  <img class="img-fluid rounded " :src="updateInfoObj.tempComicInfo.picUrl">
                </div>
                <P>資料版本：{{updateInfoObj.tempComicInfo.lastUpdateDate}}</P>
                <p>已完結：{{updateInfoObj.tempComicInfo.status ? '是' : '否'}}
                  <button class="btn btn-primary btn-sm" type="button"
                    @click="updateInfoObj.tempComicInfo.status = !updateInfoObj.tempComicInfo.status">
                    切換
                  </button>
                </p>
              </div>
              <!-- {{updateInfoObj}} -->

            </div>
          </div>

          <div class="modal-body mt-0" v-if="comicMainPageList.length >0">
            <!-- <ul class="list-group mt-1" v-if="selectedCommentList.length > 0"> -->
            <!-- 評論在這裡 -->
            <transition-group name="list" tag="ul" class="list-group mt-1" v-if="selectedCommentList.length > 0">
              <comment-li-item v-for="(comment,index) in selectedCommentList" :key="index" :comment="comment"
                :index="index" :selected-comment-id="commentFormObj.selectedCommentId"
                @comment-clicked="commentClicked"></comment-li-item>


              <a class="list-group-item list-group-item-action list-group-item-success text-center" :key="-1"
                data-bs-toggle="collapse" href=".multi-collapse" role="button" aria-expanded="false" @click="
                  commentFormObj.commentMethodType = 'addComment';
                  commentFormObj.selectedCommentId = 0;
                  commentFormObj.userComment = '';
                  commentFormObj.stars = 0;
                ">
                我也要留言
              </a>
            </transition-group>
            <!-- </ul> -->

          </div>

          <!-- 折疊起來的表單部分 -->
          <div class="collapse multi-collapse" id="commentForm">
            <form id="comment" class="px-2">

              <div class="mb-3">
                <label for="login_field">推薦者<span class="text-danger"><small>(必填)</small></span></label>
                <input type="text" name="login" class="form-control" v-model="commentFormObj.userName"
                  placeholder="請盡量保持名稱一致">
              </div>
              <div class="mb-3">
                <label for="stars">推薦星數</label>

                <span @click='commentFormObj.stars = -10' id='start0' class='cursor_pointer'
                  :class="parseInt(commentFormObj.stars)<0 ?'text-danger':''">{{parseInt(commentFormObj.stars)<0 ?'💀'
                    :'💀'}}</span>

                    <span @click='commentFormObj.stars = 1' id='start1' class='cursor_pointer'
                      :class="parseInt(commentFormObj.stars)>=1 ?'text-warning':''">{{parseInt(commentFormObj.stars)>=1
                      ?'★'
                      :'☆'}}</span>
                    <span @click='commentFormObj.stars = 2' id='start2' class='cursor_pointer'
                      :class="parseInt(commentFormObj.stars)>=2 ?'text-warning':''">{{parseInt(commentFormObj.stars)>=2
                      ?'★'
                      :'☆'}}</span>
                    <span @click='commentFormObj.stars = 3' id='start3' class='cursor_pointer'
                      :class="parseInt(commentFormObj.stars)>=3 ?'text-warning':''">{{parseInt(commentFormObj.stars)>=3
                      ?'★'
                      :'☆'}}</span>
                    <span>{{(commentFormObj.stars <
                        0)?'（幹你娘雷暴）':''}}{{(commentFormObj.stars==1)?'（不錯看。）':''}}{{(commentFormObj.stars==2)?'（超好看！）':''}}{{(commentFormObj.stars==3)?'（人生必看！！）':''}}</span>

              </div>
              <div class="mb-3">
                <label class="form-label">新增/刪除標籤 <span class="text-danger"><small>(不想更改就不動就好)</small></span></label>
                <div class="border rounded p-2 d-flex flex-wrap align-items-center gap-1 bg-body">
                  <span class="badge bg-primary d-inline-flex align-items-center gap-1 py-1 px-2" v-for="(tag, idx) in commentFormObj.tagList" :key="idx">
                    {{tag}}
                    <button type="button" class="btn-close btn-close-white" style="font-size: 0.55rem;" @click="removeTag(idx)" aria-label="Remove"></button>
                  </span>
                  <input type="text" class="border-0 flex-grow-1 p-0 m-0 shadow-none bg-transparent" style="outline: none; min-width: 120px;"
                    v-model="commentFormObj.tagInput"
                    @keydown="handleTagKeydown($event)"
                    placeholder="輸入標籤後按 Enter 或逗號新增...">
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">熱門標籤：</label>
                <p><button type="button" class="btn btn-sm me-1 my-1"
                    :class="parseInt(tag[1]) > 5 ? 'btn-warning' : (parseInt(tag[1]) > 1 ? 'btn-info' : 'btn-secondary')"
                    v-for="tag in famousTags.famous" @click="addTag(tag[0])">
                    {{tag[0]}}
                  </button>

                  <button type="button" class="btn btn-sm me-1 my-1"
                    :class="parseInt(tag[1]) > 5 ? 'btn-warning' : (parseInt(tag[1]) > 1 ? 'btn-info' : 'btn-secondary')"
                    v-show="commentFormObj.tagsShowMore" v-for="tag in famousTags.notFamous"
                    @click="addTag(tag[0])">
                    {{tag[0]}}
                  </button>

                  <small class="text-muted cursor_pointer ms-1"
                    @click='commentFormObj.tagsShowMore = !commentFormObj.tagsShowMore'>{{ commentFormObj.tagsShowMore ?
                    "收起" : "展開全部…"}}</small>

                </p>
              </div>
              <div class="mb-3">
                <label for="userComment">留言內容</label>
                <textarea class="form-control" v-model="commentFormObj.userComment" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="collapse multi-collapse" id="commentFormPw">
            <form id="commentPw" class="px-2">
              <div class="row align-items-center mb-1">
                <div class="col-auto">
                  <label for="deletePw" class=" col-form-label">文章密碼</label>
                </div>
                <div class="col">
                  <input type="password" class="form-control" v-model='commentFormObj.pw'
                    placeholder="修改或刪除評論時需要的一次性密碼">
                </div>
              </div>
            </form>



            <div class="modal-footer">
              <span class="text-danger">{{commentFormObj.warning}}</span>
              <button type="button" class="btn btn-secondary" @click="
                commentFormObj.userComment = '';
                commentFormObj.stars = 0;
                commentFormObj.selectedCommentId = 0;
                comicMainPageObj.comicModalCollapse.hide();
                comicMainPageObj.comicModalCollapsePw.hide();
                ">取消</button>
              <button type="button" class="btn" :class="[ isLoading? 'btn-secondary': 'btn-primary' ]" id="sendComment"
                @click="
                sendComment(commentFormObj.commentMethodType)
                " :disabled="isLoading"><span v-show="isLoading" class="spinner-border spinner-border-sm"
                  aria-hidden="true"></span>{{isLoading?'處理中……':'確定送出'}}</button>
            </div>
          </div>


        </div>
      </div>
    </div>

    <!-- 新增漫畫  -->
    <div class="modal fade" id="addComicModal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5">選擇的漫畫</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body" v-if="addComicObj.searchComicList.length >0">
            <div class="clearfix">
              <div class="col-4   position-relative float-start m-1 ">
                <img class="img-fluid rounded " :src="addComicObj.searchComicList[addComicObj.selected].Pic">
              </div>
              <h5>{{addComicObj.searchComicList[addComicObj.selected].Title}}</h5>

              <p>作者：{{addComicObj.searchComicList[addComicObj.selected].Author.join(', ')}} <a
                  :href="addComicObj.searchComicList[addComicObj.selected].Url" target="_blank">漫畫鏈結</a></p>

              <p>{{addComicObj.searchComicList[addComicObj.selected].Content}}</p>
            </div>
          </div>

          <form class="px-2">
            <div class="mb-3">
              <label for="login_field">推薦者<span class="text-danger"><small>(必填)</small></span></label>
              <input type="text" name="login" class="form-control" v-model="commentFormObj.userName"
                placeholder="請盡量保持名稱一致">
            </div>
            <div class="mb-3">
              <label for="stars">推薦星數</label>

              <span @click='commentFormObj.stars = -10' id='start0' class='cursor_pointer'
                :class="parseInt(commentFormObj.stars)<0 ?'text-danger':''">{{parseInt(commentFormObj.stars)<0 ?'💀'
                  :'💀'}}</span>

                  <span @click='commentFormObj.stars = 1' id='start1' class='cursor_pointer'
                    :class="parseInt(commentFormObj.stars)>=1 ?'text-warning':''">{{parseInt(commentFormObj.stars)>=1
                    ?'★'
                    :'☆'}}</span>
                  <span @click='commentFormObj.stars = 2' id='start2' class='cursor_pointer'
                    :class="parseInt(commentFormObj.stars)>=2 ?'text-warning':''">{{parseInt(commentFormObj.stars)>=2
                    ?'★'
                    :'☆'}}</span>
                  <span @click='commentFormObj.stars = 3' id='start3' class='cursor_pointer'
                    :class="parseInt(commentFormObj.stars)>=3 ?'text-warning':''">{{parseInt(commentFormObj.stars)>=3
                    ?'★'
                    :'☆'}}</span>
                  <span>{{(commentFormObj.stars <
                      0)?'（幹你娘雷暴）':''}}{{(commentFormObj.stars==1)?'（不錯看。）':''}}{{(commentFormObj.stars==2)?'（超好看！）':''}}{{(commentFormObj.stars==3)?'（人生必看！！）':''}}</span>

            </div>
            <div class="mb-3">
              <label class="form-label">新增/刪除標籤</label>
              <div class="border rounded p-2 d-flex flex-wrap align-items-center gap-1 bg-body">
                <span class="badge bg-primary d-inline-flex align-items-center gap-1 py-1 px-2" v-for="(tag, idx) in commentFormObj.tagList" :key="idx">
                  {{tag}}
                  <button type="button" class="btn-close btn-close-white" style="font-size: 0.55rem;" @click="removeTag(idx)" aria-label="Remove"></button>
                </span>
                <input type="text" class="border-0 flex-grow-1 p-0 m-0 shadow-none bg-transparent" style="outline: none; min-width: 120px;"
                  v-model="commentFormObj.tagInput"
                  @keydown="handleTagKeydown($event)"
                  placeholder="輸入標籤後按 Enter 或逗號新增...">
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">熱門標籤：</label>
              <p><button type="button" class="btn btn-sm me-1 my-1"
                  :class="parseInt(tag[1]) > 5 ? 'btn-warning' : (parseInt(tag[1]) > 1 ? 'btn-info' : 'btn-secondary')"
                  v-for="tag in famousTags.famous" @click="addTag(tag[0])">
                  {{tag[0]}}
                </button>

                <button type="button" class="btn btn-sm me-1 my-1"
                  :class="parseInt(tag[1]) > 5 ? 'btn-warning' : (parseInt(tag[1]) > 1 ? 'btn-info' : 'btn-secondary')"
                  v-show="commentFormObj.tagsShowMore" v-for="tag in famousTags.notFamous"
                  @click="addTag(tag[0])">
                  {{tag[0]}}
                </button>

                <small class="text-muted cursor_pointer ms-1"
                  @click='commentFormObj.tagsShowMore = !commentFormObj.tagsShowMore'>{{ commentFormObj.tagsShowMore ?
                  "收起" : "展開全部…"}}</small>

              </p>
            </div>
            <div class="mb-3">
              <label for="userComment">留言內容</label>
              <textarea class="form-control" v-model="commentFormObj.userComment" rows="3"></textarea>
            </div>

            <div class="row align-items-center mb-1">
              <div class="col-auto">
                <label for="deletePw" class=" col-form-label">文章密碼</label>
              </div>
              <div class="col">
                <input type="password" class="form-control" v-model='commentFormObj.pw' placeholder="修改或刪除評論時需要的一次性密碼">
              </div>
            </div>
          </form>



          <div class="modal-footer">
            <span class="text-danger">{{commentFormObj.warning}}</span>
            <button type="button" class="btn btn-secondary" @click="
                commentFormObj.userComment = '';
                commentFormObj.stars = 0;
                commentFormObj.selectedCommentId = 0;
                comicMainPageObj.comicModalCollapse.hide();
                comicMainPageObj.comicModalCollapsePw.hide();
                ">取消</button>
            <button type="button" class="btn" :class="[ isLoading? 'btn-secondary': 'btn-primary' ]" id="sendComment"
              @click="
                sendComment(commentFormObj.commentMethodType)
                " :disabled="isLoading"><span v-show="isLoading" class="spinner-border spinner-border-sm"
                aria-hidden="true"></span>{{isLoading?'處理中……':'確定送出'}}</button>
          </div>



        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-12 px-1 mt-2" v-show="tabSelected == 'comic'">
          <div class="input-group">

            <select class="form-select" v-model="comicMainPageObj.sortBy">
              <option value="time">依照建立時間排序</option>
              <option value="stars">依照平均星數排序</option>
              <option value="comments">依照評論數量排序</option>
              <option value="commentsTime">依照評論時間排序</option>
            </select>

            <label class="input-group-text" @click="comicMainPageObj.sortReverse = !comicMainPageObj.sortReverse">
              {{ comicMainPageObj.sortBy === 'time' || comicMainPageObj.sortBy === 'commentsTime' ?
              (comicMainPageObj.sortReverse ? '新到舊' :'舊到新') :
              (comicMainPageObj.sortReverse ? '多到少' : '少到多')}}
            </label>

          </div>
        </div>
        <div class="col-12 px-1 mt-2"
          v-show="tabSelected == 'addComic' && (addComicObj.searchError !== false  || addComicObj.searchComicList.length == 0)">
          <p class="text-center" :class="{'text-danger': addComicObj.searchError}">
            {{addComicObj.searchError !== false ?'※'+addComicObj.searchError+'※':'(請於搜尋框內輸入欲新增的漫畫關鍵字。)'}}
            <span v-show="isLoading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          </p>
        </div>
      </div>
      <!-- 主要的卡片顯示區塊 -->


      <div class="row">
        <!-- 為空時顯示佔位符 -->
        <transition-group name="card">
          <template v-if="comicMainPageList.length === 0 && searchText.length === 0">
            <template v-for="n in 12" :key="n">
              <div class="col-12  col-sm-6 col-md-4 col-lg-3 mt-2 px-1">
                <div class="card px-0">
                  <div class="card-header">
                    <h6 class="mb-0 placeholder-glow"><span class="placeholder col-6"></span></h6>
                  </div>
                  <div class="card-body p-2">
                    <div class="clearfix">
                      <div class="col-4 col-sm-6  position-relative float-start m-1 ">
                        <img class="img-fluid rounded " src="https://placehold.co/132x176?text=Loading...">
                      </div>
                      <p class="card-text placeholder-glow">
                        <span class="placeholder col-5"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-4"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </template>


          <comic-card-item v-show="tabSelected =='comic'" v-for="(comic,index) in comicMainPageList" :key="comic[0]"
            :comic="comic" :index="index" @comic-clicked="comicClicked">
          </comic-card-item>
          <search-card-item v-show="tabSelected =='addComic'" v-for="(comic,index) in addComicObj.searchComicList"
            :key="comic.Id" :comic="comic" :index="index" :comic-id-list="comicIdList"
            @comic-clicked="searchComicClicked">
          </search-card-item>
        </transition-group>
        <button class="btn col-12 pt-2" :key="-1"
          v-show="addComicObj.searchComicList.length != 0 && tabSelected =='addComic'"
          @click="searchBtnClicked('loadMore')" :disabled="isLoading"><span v-show="isLoading"
            class="spinner-border spinner-border-sm" aria-hidden="true"></span>{{isLoading?'讀取中……':'載入更多'}}</button>
        <div class="col-12 pt-2 pb-5 text-center" ref="pageBottom">
          {{isLoading || (loadCardsNum > comicMainPageList.length) || tabSelected !='comic' ? '': '向下滾動以載入'}}</div>
      </div>

    </div>

  </div>


  <!-- 導入 Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

<script type="module">
  import { createApp } from 'vue'
  import main from './components/main.js?v=20261002_v3'
  import ComicCardItem from './components/comic-card-item.js?v=20261002_v3'
  import SearchCardItem from './components/search-card-item.js?v=20261002_v3'
  import CommentLiItem from './components/comment-li-item.js?v=20261002_v3'

  const app = createApp(main)
  app.component('ComicCardItem', ComicCardItem)
  app.component('SearchCardItem', SearchCardItem)
  app.component('CommentLiItem', CommentLiItem)
  app.mount('#app')
</script>

</html>